
/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

p {
    font: 15px/24px 'librebaskerville-italic', sans-serif;
}

.info {
    color: #6a6d5e;
    margin-bottom: 18px;
    margin-top: 9px;
}

a {
    color: #CFA12F !important;
}

a:hover, a:focus, a:active {
    color: #e8d7b4 !important;
    text-decoration: none !important;
}

hr {
    border-bottom: 1px solid #CFA12F !important;
}
