/* ------------------------------------------------------------------ */

/* Portfolio Demo Section
/* ------------------------------------------------------------------ */

#portfolio-demo {
   padding-top: 50px;
   padding-bottom: 80px;
}

#portfolio-demo h2 {
   font: 35px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 65px;
   color: #CFA12F;
}

/* Portfolio Content */

#portfolio-wrapper .columns {
   margin-bottom: 36px;
}

.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   margin-bottom: 10px;
}

.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */

.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);
   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;
   background: url(/images/overlay-bg.png) repeat;
}

.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);
   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}

.portfolio-item .item-wrap img {
   vertical-align: bottom;
   width: 100%;
}

.portfolio-item .portfolio-item-meta {
   padding: 18px
}

.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}

.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */

.portfolio-item:hover .overlay {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
   padding: 0 0 10px;
}

.portfolio-item:hover .link-icon {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
}

/* popup modal */

.modal .description-box {
   padding: 12px 36px 18px 36px;
}

.modal .description-box h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
}

.modal .description-box p {
   font: 14px/24px 'opensans-regular', sans-serif;
   color: #6E7881;
   margin-bottom: 12px;
}

.modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #6E7881;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
}

.modal .description-box .categories i {
   margin-right: 8px;
}

.modal .link-box {
   padding: 18px 36px;
   background: #2a3330;
}

.modal .link-box a {
   font: 11px/21px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.modal a.modal-dismiss {
   margin-left: 24px;
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */

.mfp-fade.mfp-wrap .mfp-content .modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
   -moz-transition: all 200ms ease-in-out;
   -o-transition: all 200ms ease-in-out;
   -ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}

/* content fadein */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content .modal {
   opacity: 1;
}

/* content fadeout */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content .modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */

/* Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio input:focus {
   outline: none;
 }

#portfolio .image-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: hidden;
   background: #000;
 }
 
 #portfolio .image-container img {
   width: 100%;
 }

/* HTML5 display-role reset for older browsers */
#portfolio article, #portfolio aside, #portfolio details, #portfolio figcaption, #portfolio figure, 
 #portfolio hgroup, #portfolio menu, nav, #portfolio section {
  display: block;
}

#portfolio ol, #portfolio ul {
  list-style: none;
}
#portfolio blockquote, #portfolio q {
  quotes: none;
}

/* ------------------------------------------------------------------ */

/* Portfolio Business Section
/* ------------------------------------------------------------------ */

#portfolio-business {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 16.66rem;
   margin: 0 .5rem 2.3rem .5rem;
 }
 
 #portfolio-business .image-container {
   height: 16.66rem;
   margin-bottom: 1rem;
 }
 
 #portfolio-business h2 {
   margin-bottom: .5rem;
   font-size: 1.2rem;
   font-weight: 600;
 }
 
 #portfolio-business .business-information {
   display: flex;
   justify-content: space-between;
 }
 
 #portfolio-business .business-information p {
   font-size: 14px;
   font-weight: 300;
   line-height: 1rem;
 }
 
 #portfolio-business .business-address {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 
 #portfolio-business .business-reviews {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: right;
 }
 
 #portfolio-business .business-reviews h3 {
   color: #CCA353;
   font-weight: 600;
   font-size: 15px;
 }
 
 #portfolio-business .business-reviews .business-rating {
   font-size: .88rem;
   line-height: 1rem;
 }

/* ------------------------------------------------------------------ */

/* Portfolio Business List Section
/* ------------------------------------------------------------------ */

#portfolio-business-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 4.4rem 10%;
 }

/* ------------------------------------------------------------------ */

/* Portfolio Search Bar Section
/* ------------------------------------------------------------------ */

#portfolio-search-bar .searchBar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-image: url('../../images/portfolio/background_search_desktop.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 30rem;
 }
 
 #portfolio-search-bar .searchBar-sort-options ul {
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
   padding-top: 2rem;
   color: #ffffff;
 }
 
 #portfolio-search-bar .searchBar-sort-options li {
   cursor: pointer;
   border-bottom: 1px solid #fff;
   padding: 0 2.58rem .33rem 2.58rem;
   line-height: 1.13;
   text-align: center;
   font-weight: 600;
   font-size: .83rem;
   transition: color .25s;
 }
 
 #portfolio-search-bar .searchBar-sort-options li:hover {
   color: #d4cfcf;
 }
 
 #portfolio-search-bar .searchBar-sort-options li.active,
 #portfolio-search-bar .searchBar-sort-options li.active:hover {
   border-bottom: 1px solid #f0c36c;
   color: #f0c36c;
 }
 
 #portfolio-search-bar .searchBar-fields {
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
 }
 
 #portfolio-search-bar .searchBar-fields input {
   width: 21rem;
   padding: .66rem 1rem;
   margin-right: 2rem;
   border: 1px solid #fff;
   border-radius: 4px;
   font-size: .77rem;
   font-weight: 500;
 }
 
 #portfolio-search-bar .searchBar-fields input:last-child {
   margin-right: 0;
 }
 
 #portfolio-search-bar .searchBar-submit {
   text-align: center;
 }
 
 #portfolio-search-bar .searchBar-submit a {
   border-radius: 4px;
   padding: .72rem 1.7rem;
   color: #ffffff;
   font-size: 20px;
   font-weight: 600;
   transition: background-color .5s;
 }
 
 #portfolio-search-bar .searchBar-submit a:hover {
   cursor: pointer;
   background-color: #a7874b;
 }
 
 @media only screen and (max-width: 560px) {
   #portfolio-search-bar .searchBar {
     background-image: url('../../images/portfolio/background_search_mobile.jpg'); 
   }
 
   #portfolio-search-bar .searchBar-sort-options ul {
     margin-left: 2rem;
     margin-right: 2rem;
   }
 
   #portfolio-search-bar .searchBar-fields {
     flex-direction: column;
     align-items: center;
   }
 
   #portfolio-search-bar .searchBar-fields input {
     margin-right: 0;
     margin-bottom: .86rem;
   }
 }